@import "tailwindcss";

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ff5733;
    background: #000;
    padding: 10px 0;
}
.ulu{
    font-family: "Sigmar", serif;
    font-size: xx-large;
    color: #a16253;
}
.forr{
    font-family: "Sigmar", serif;
    
}
.lol{
    font-family: "Kanit", sans-serif;
}
.foet{
    font-family: "Sigmar", serif;
    font-size: xxx-large;
    color: #FACB4C;
}
.fort{
    font-family: "Satisfy", serif;
    
}
.marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

.rer {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: #5c3e37;
  }
  .po{
    background-image: url(./assets/co.png);
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    /* color: #5c3e37; */
  }
 .no{
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
 }

@media (max-width: 768px) {
    .hero {
        height: 50vh; /* Adjust height for smaller screens */
        font-size: 6vw;
    }
    .hee{
        font-size: 3vw;
        height: 5vh;
        width: 90vw;
    }
    .hea{
        font-size: 3vw;
        height: 30vh;
        width: 90vw;
    }
 
}

.vertical-hr { 
    margin-left: 550px;
    width: 2px;
    height: 200px;
    background-color: black;
    border: none;
    position: absolute;
  }


.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-text {
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

.dropdown-text::after {
    content: "▼"; /* Downward arrow */
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    padding: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.dropdown-content a:hover {
    background: lightgray;
}

.hs , .grab{
    font-family: "Sigmar", serif;
    font-weight: 200;
    font-style: normal;
  }

  .grab{
    transform: scaleY(1); /* Adjust the value for more stretching */
    display: inline-block; 
  }

  .ha,.hd{
    font-weight: 400;
  }

  .lk{
        box-shadow: 0px 4px 10px rgba(0, 1, 10, 1); /* X-offset, Y-offset, Blur, Color */
        /* padding: 20px; */
        /* border-radius: 8px; Optional for smooth edges */
        /* background: white; */
  }

  .hg{
    background: linear-gradient(180deg, #fff 0%, #f4eaea 20%, #f8e5e6 100%);
    /* margin-top: 5rem; */
}
